// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// clearfix
%clearfix {
 &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.no-display{
    display: none;
}
.visible-mobile {
  display: none;
  @include media ('<desktop'){
    display: block;
  }
}
.hidden-mobile {
  display: block;
  @include media ('<desktop'){
    display: none;
  }
}


// transition
%transition {
 transition: all 0.3s ease-in-out;
}

// justify nav
%justify {
 text-align: justify;
 > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
 }
 &:after {
  content: '';
  width: 100%;
  display: inline-block;
  vertical-align: top;
     
 }
}




/// * Helper class to truncate and add ellipsis to a string too long for it to fit
/// * on a single line.
/// * 1. Prevent content from wrapping, forcing it on a single line.
/// * 2. Add ellipsis at the end of the line.

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}


//https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.hidden-xxs{
    @include media("<667px"){
       display: none !important;
    }
}

.visible-xxs{
    display: none !important;
    @include media("<667px"){
        display: block !important;
    }
}


.align-vertial{
    position: absolute;
    top: 50%;
    left: 0; width: 100%;
    transform: translateY(-50%);
}


// reset

