@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ath1jg');
  src:  url('../fonts/icomoon.eot?ath1jg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ath1jg') format('truetype'),
    url('../fonts/icomoon.woff?ath1jg') format('woff'),
    url('../fonts/icomoon.svg?ath1jg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 500';
  src: url('../fonts/hinted-MuseoSans-500.eot');
  src: local('Museo Sans 500'), local('MuseoSans-500'),
    url('../fonts/hinted-MuseoSans-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-MuseoSans-500.woff2') format('woff2'),
    url('../fonts/hinted-MuseoSans-500.woff') format('woff'),
    url('../fonts/hinted-MuseoSans-500.ttf') format('truetype'),
    url('../fonts/hinted-MuseoSans-500.svg#MuseoSans-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 100';
  src: url('../fonts/hinted-Museo100-Regular.eot');
  src: local('Museo 100 Regular'), local('Museo100-Regular'),
    url('../fonts/hinted-Museo100-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-Museo100-Regular.woff2') format('woff2'),
    url('../fonts/hinted-Museo100-Regular.woff') format('woff'),
    url('../fonts/hinted-Museo100-Regular.ttf') format('truetype'),
    url('../fonts/hinted-Museo100-Regular.svg#Museo100-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}
.nomargin {
  margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, .main--title, .small--title {
  margin: 0;
  font-weight: 700;
}
.main--title {
  font-size: 48px;
  line-height: 64px;
  &__white {
    color: $white;
  }
  &__transparent {
    font-size: 70px;
    color: $white;
    text-shadow: -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
  }
  @include media ('<=desktop') {
    font-size: 38px;
    line-height: 50px;
  }
  @include media ('<tablet') {
    font-size: 32px;
  }
}
.small--title {
  font-size: 16px;
  margin-bottom: 20px;
  &--topborder {
    position: relative;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    &:before {
      content: '';
      width: 28px;
      height: 3px;
      background: $red;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -14px;
    }
  }
  &--white {
    color: $white;
  }
  &__smallspace {
    margin-bottom: 40px;
  }
  &__largespace {
    margin-bottom: 80px;
  } 
}
p {
  font-size: 14px;
  line-height: 24px;
  font-family: $mueso;
  margin-bottom: 20px;
  &.grey {
    color: $dd-grey;
    a {
      @extend p.grey;
    }
  }
  a {
    color: $red;
    @extend .transition;
    &:hover {
      color: $d-grey;
    }
  }
}
.para__large {
  font-size: 30px;
  line-height: 42px;
  font-family: $mueso-l;
  letter-spacing: -0.045em;
  @include media ('<=desktop') {
    font-size: 22px;
    line-height: 28px;
  }
}
h2 {
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: -0.045em;
  @include media ('<=desktop') {
    font-size: 38px;
  }
  @include media ('<tablet') {
    font-size: 32px;
  }
}
.highlight {
  background: $red;
  color: $white;
  padding: 0 5px;
}
.general__list {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
  margin-bottom: 40px;
  li {
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    font-family: $mueso;
    line-height: 24px;
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      background: $red;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
}

















