.cms {
	&--accordion {
		padding-top: 10px;
	}
}
.accordion {
	list-style: none;
	padding: 0;
	li {
		margin-bottom: 5px;
	}
	&-title {
		background: $grey;
		display: block;
		color: $black;
		padding: 16px 40px;
		position: relative;
		margin-bottom: 0;
		border-radius: 4px;
		&:hover, &:active, &:focus {
			color: $red;
		}
		&:after, &:before {
			content: '';
			position: absolute;
			right: 36px;
			top: 50%;
			transform: translateY(-50%);
			@extend .transition;
		}
		&:after {
			width: 12px;
			height: 2px;
			background: $black;
			right: 31px;
		}
		&:before {
			width: 2px;
			height: 12px;
			background: $black;
		}
		&.active {
			&:before {
				transform: rotate(90deg);
				opacity: 0;
			}
		}
	}
	&-content {
		display: none;
		padding: 40px 40px;
		@include media ('<tablet') {
			padding: 40px 20px;
		}
	}
}