.banner {
	width: 100%;
	position: relative;
	overflow: hidden;
	&--overlay {
		position: absolute;
		bottom: -1px;
		@include media ('<tablet') {
			display: none;
			figure {
				img {
					max-width: inherit;
				}
			}
		}
	}
	&--content {
		position: absolute;
		width: 100%;
		top: 40%;
		transform: translateY(-40%);
		.container {

		}
	}
	&__home {
		//height: 200px;
		max-height: 720px;
		overflow: hidden;
	}
	@include media('>=tablet','<desktop') {
		height: 350px;
	}
	
	@include media('>=desktop', "<1366px") {
		height: 510px;
	}
	
	&--image {
		height: 510px;
		figure {
			height: 100%;
		}
		img {
			position: absolute;
			max-width: inherit;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
		@include media('<desktop') {
			height: 350px;
			figure {
				height: 100%;
			}
		}
		
		@include media('>=tablet', '<desktop'){
			img {
				height: 100%;
				max-width: inherit;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
	}
	&--secondary {
		@include media ('<desktop') {
			min-height: 510px;
		}
		.banner--image {
			height: auto;
			img {
				position: relative;
				height: inherit;
				width: 100%;
				@include media ('<desktop') {
					position: absolute;
					height: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: auto;
				}
				@include media ('<tablet') {
					transform: translateX(-25%);
				}
			}
		}
		.banner--content {
			left: 60%;
			color: $white;
			max-width: 440px;
			top: 50%;
			transform: translateY(-50%);
			@include media ('<=widescreen') {
				left: 50%;
				max-width: 400px;
			}
			@include media ('<=md-tablet') {
				max-width: 350px;
				h2 {
					margin-bottom: 20px;
				}
			}
			@include media ('<tablet') {
				left: 10%;
				width: 80%;
				max-width: inherit;
			}
			p {
				margin: 22px 0;
			}
			figure {
				margin-bottom: 50px;
				@include media ('<=md-tablet') {
					margin-bottom: 20px;
				}
			}
		}
	}
}
.video--container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	@include media ('<tablet') {
		height: 100%;
		max-width: inherit;
	}
	iframe, object, embed, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@include media ('<tablet') {
			width: inherit;
		}
	}
}
.home--slider {
	&--items {
		position: relative;
		@include media("<tablet"){
			height: 350px;
			overflow: hidden;
			figure {
				height: 350px;
				position: relative;
				img {
					position: absolute;
					height: 100%;
					max-width: inherit;
					left: 50%;
					transform: translateX(-50%);
				}	
			}
		}
	}
}
.home--video {
	max-height: 470px;
	height: 470px;
	@include media('<desktop') {
		height: 0;
	}
	.banner--content {
		top: 20%;
	}
}
