.btn {
	font-size: 16px;
	font-weight: 700;
	color: $black;
	background: none;
	@extend .transition;
	&:active {
		box-shadow: none;
		&:focus {
			outline: none;
		}
	}
	&--normal {
		color: $red;
		padding: 0;
		margin-top: 20px;
	}
	&--main {
		padding-left: 35px;
		position: relative;
		&:before {
			content: url(../img/arrow.png);
			display: block;
			height: 17px;
			width: 21px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -9px;
			@extend .transition;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			color: $red;
			&:before {
				left: 5px;
			}
		}
		&__white {
			color: $white;
		}
		&__reverse {
			color: $white;
			&:before {
				content: url(../img/arrow-white.png);
			}
			&:hover {
				color: $white;
			}
		}
	}
	&--submit {
		text-align: left;
		border: none !important;
		font-family: $arial !important;
		font-size: 16px !important;
		color: $black !important;
		padding: 0px;
		padding-left: 35px;
		background: url(../img/arrow.png) no-repeat 0px center !important;
		&:hover {
			color: $red !important;
			background: url(../img/arrow.png) no-repeat 5px center !important;
		}
		&:focus {
			outline: none;
		}
	}
	
}