.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 100%;
	font-family: $mueso;
	color: $black;
	&-styled {
		border: 1px solid $black;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 12px 8px;
		color: $black;
		&:after {
			content: url(../img/arrow-down.png);
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -10px;
		}
	}
	&-options {
		display: none;
		position: absolute;
		background: $white;
		width: 100%;
		list-style: none;
		padding: 0px;
		border: 1px solid $dd-grey;
		border-top: 0px solid transparent;
		z-index: 10;
		li {
			padding: 10px 8px;
			@extend .transition;
			&:hover {
				background: $grey;
				color: $red;
			}
			a {
				color: $black;
				display: block;
				&:hover {
					color: $red;
				}
			}
		}
	}
}
.select-hidden {
	display: none;
}