.cms--forms--holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 100px 0 0;
	margin-bottom: -30px;
	.form--image {
		width: 37%;
		@include media ('<md-tablet') {
			display: none;
		}
	}
	.form--container {
		width: 63%;
		@include media ('<desktop') {
			width: 100%;
		}
	}
}
.form--image--holder {
	img {
		border-radius: 50%;
	}
}
.form--container {
	form {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	fieldset {
		border: none;
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
	}
	input, textarea, select {
		width: 100%;
		border: none;
		border-bottom: 1px solid $black;
		color: $dd-grey;
		font-size: 14px;
		line-height: 30px;
		font-family: $mueso;
		height: 30px;
		background: transparent;
	}
	textarea {
		min-height: 150px;
		resize: none;
	}
	.select-styled {
		border: none;
		border-bottom: 1px solid $black;
		color: $dd-grey;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 30px;
		&:after {
			margin-top: -15px;
		}
	}
	.select-options {
		color: $dd-grey;
	}
	&--oneCol {
		width: 30%;
		margin-right: 5% !important;
		&:nth-child(4) {
			margin-right: 0 !important;
		}
		@include media ('<tablet') {
			width: 100%;
			margin-right: 0 !important;
		}
	}
	&--twoCol {
		width: 65%;
		@include media ('<tablet') {
			width: 100%;
			margin-right: 0 !important;
		}
	}
	&--fullCol {
		width: 100%;
	}
}