.fourBlocks {
	display: flex;
	flex-flow: row wrap;
	.col {
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		width: 25%;
		position: relative;
		@include media ('<=md-tablet') {
			width: 50%;
		}
		@include media ('<tablet') {
			width: 100%;
		}
		&:before {
			content: '';
			float: left;
			padding-top: 100%;
		}
		&:nth-child(2) {
			.fourBlocks--holder {
				animation-delay: 0.4s;
			}
		}
		&:nth-child(3) {
			.fourBlocks--holder {
				animation-delay: 0.8s;
			}
		}
		&:nth-child(4) {
			.fourBlocks--holder {
				animation-delay: 1.2s;
			}
		}
		.overlay--border {
			background: url(../img/border-overlay.png) no-repeat center;
			background-size: 90%;
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&:hover {
			.overlay--border {
				display: block;
			}
		}
	}
	&--holder {
		svg {
			font-size: 70px;
			font-weight: bold;
			font-family: $arial;
		}
	}
}