.cms--map {
	position: relative;
	overflow: hidden;
	a {
		color: #000;
		&:hover {
			color: #333;
			.map--pin {
				top: 50%;
			}
		}
	}
	.map--pin {
		position: absolute;
		z-index: 1;
		font-size: 103px;
		line-height: 85px;
		top: 54%;
		left: 50%;
		margin-top: -70px;
		margin-left: -37px;
		color: $red;
		transition: all ease 0.2s;
		@include media ('<=desktop') {
			font-size: 60px;
			margin-left: -22px;
			margin-top: -50px;
		}
	}
	.small--title {
		position: absolute;
		top: 85px;
		left: 50%;
		transform: translateX(-50%);
		@include media ('<=widescreen-1') {
			top: 40px;
		}
		@include media ('<=desktop') {
			top: 20px;
		}
	}
	&--holder {
		@include media ('<=md-tablet') {
			height: 350px;
			img {
				max-width: inherit;
				height: 100%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
			}
		}
	}
	.map--cityName {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1000px;
		@include media ('<=desktop') {
			width: 750px;
		}
		&--holder {
			padding: 0;
			list-style: none;
			text-align: center;
			margin: 0;
		}
		&--city {
			display: inline-block;
			padding: 0 20px;
			position: relative;
			&:nth-child(2) {
				padding-right: 95px;
				@include media ('<=desktop') {
					padding-right: 50px;
				}
				@include media ('<tablet') {
					padding-right: 25px;
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 7px;
					height: 7px;
					background: $black;
					left: -4px;
					top: 50%;
					margin-top: -4px;
				}
			}
			&:nth-child(3) {
				padding-left: 125px;
				@include media ('<=desktop') {
					padding-left: 50px;
				}
				@include media ('<tablet') {
					padding-left: 25px;
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 7px;
					height: 7px;
					background: $black;
					right: -4px;
					top: 50%;
					margin-top: -4px;
				}
			}
			@include media ('<tablet') {
				font-size: 16px;
				padding: 0 8px;
			}
		}
	}
}