.cms--slider {
	max-width: 780px;
	width: 100%;
	margin: 0 auto;
	.slick-slide {
		img {
			margin: 0 auto;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		color: transparent;
		width: 22px;
		height: 22px;
		padding: 0;
		margin: -11px 0 0 0;
		background: none;
		border: none;
		&:after, &:before {
			content: '';
			display: block;
			background: $red;
			height: 6px;
			width: 22px;
			position: absolute;
			top: 0;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
			top: 11px;
		}
		&.slick-next {
			right: -30%;
			transform: rotate(180deg);
			@include media ('<=widescreen-1') {
				right: -10%;
			}
			@include media ('<=desktop') {
				right: -5%;
			}
			@include media ('<=md-tablet') {
				right: 5%;
			}
		}
		&.slick-prev {
			left: -30%;
			@include media ('<=widescreen-1') {
				left: -10%;
			}
			@include media ('<=desktop') {
				left: -5%;
			}
			@include media ('<=md-tablet') {
				left: 5%;
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 35px;
		left: 50%;
		padding: 0;
		margin: 0;
		transform: translateX(-50%);
		li {
			list-style: none;
			background: $red;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			display: inline-block;
			margin: 0 10px;
			button {
				display: none;
			}
			&:hover {
				cursor: pointer;
			}
			&.slick-active {
				background: $black;
			}
		}
	}
}

.slide--history {
	.slick-list {
		overflow: hidden;
	}
	&--container {
		max-width: 320px;
		@include media ('<md-tablet') {
			max-width: 300px;
		}
		@include media ('<tablet') {
			max-width: inherit;
		}
	}
	&--background {
		background-repeat: no-repeat;
		background-position: 91% center;
		background-size: 45%;
		@include media ('<md-tablet') {
			// background-size: 50%;
		}
		@include media ('<tablet') {
			background-size: contain;
			background-position: center 80%;
		}
		figure {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
	svg {
		font-size: 65px;
		font-weight: 400;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: $arial;
	}
	.slick{
		&-slide {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}
		&-arrow {
			position: absolute;
			top: 50%;
			background: none;
			border: none;
			text-indent: -10000px;
			width: 35px;
			height: 20px;
			@include media ('<md-tablet') {
				top: 35%;
			}
			@include media ('<tablet') {
				top: 25%;
			}
			&:after, &:before {
				content: '';
				display: block;
				background: $red;
				height: 6px;
				width: 21px;
				position: absolute;
				top: 0;
				z-index: 10;
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
				top: 12px;
			}
			&.slick-next {
				right: -14%;
				transform: rotate(180deg);
				@include media ('<=widescreen-2') {
					right: -5%;
				}
				@include media ('<=widescreen-1') {
					right: 0%;
				}
			}
			&.slick-prev {
				left: -14%;
				@include media ('<=widescreen-2') {
					left: -5%;
				}
				@include media ('<=widescreen-1') {
					left: 0%;
				}
			}
		}
	}
	.slick-dots {
		padding: 0;
		margin: 75px auto 0;
		text-align: center;
		width: 100%;
		@include media ('<tablet') {
			display: none !important;
		}
		li {
			display: inline-block;
			background: transparent;
			width: 32px;
			height: 32px;
			cursor: pointer;
			position: relative;
			margin: 0 5px;
			@include media(">1200px"){
				margin: 0 18px;
			}
			span {
				display: block;
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: $red;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -6.5px;
				margin-top: -6.5px;
				z-index: 5;
				@extend .transition;
			}
			&:before {
				content: '';
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background: transparent;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -16px;
				margin-left: -16px;
				@extend .transition;
				z-index: 2;
			}
			&:after {
				content: '';
				display: block;
				width: 200%;
				height: 1px;
				background: #cccccc;
				position: absolute;
				top: 50%;
				z-index: 0;
				left: 15px;
			}
			&:hover, &.slick-active {
				span {
					background: $black;
				}
				&:before {
					background: #dcdcdc;
					z-index: 1;
				}
			}
			a {
				font-family: $mueso;
				font-size: 14px;
				color: $black;
				position: absolute;
				top: -28px;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				@extend .transition;
			}
			&:last-child {
				&:after {
					display: none;
				}
				a {
					opacity: 1;
				}
			}
			&:hover, &.slick-active {
				a {
					opacity: 1;
				}
			}
		}
	}
}