.cms--tabs {
	color: $black;
	&.theme__darkGrey {
		color: $white;
		.tab-link.current, .tab-link:hover {
			color: $white;
		}
		.tabs {
			&:before, &:after {
				background: $white;
			}
		}
		.accordion-title {
			background: #4f4f4f;
			color: $white;
		}
	}
	.container {
		overflow: hidden;
	}
	.icons {
		background: transparent;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		@extend .transition;
	}
	.tabs{
		margin: 0px 0px 40px;
		padding: 0px;
		list-style: none;
		width: auto;
		text-align: center;
		position: relative;
		display: inline-block;
		[class^="icon-"], [class*=" icon-"] {
			font-size: 32px;
		}
		&:before, &:after {
			position: absolute;
			content: '';
			background: $black;
			height: 1px;
			top: 50%;
			width: 600px;
			@include media ('<tablet') {
				display: none;
			}
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}
	}
	.tab-link{
		display: inline-block;
		cursor: pointer;
		margin-right: 35px;
		max-width: 135px;
		vertical-align: top;
		&:first-child {
			margin-left: 35px;
		}
		@include media ('<=md-tablet') {
			margin-right: 15px;
			&:first-child {
				margin-left: 15px;
			}
		}
		@include media ('<tablet') {
			max-width: inherit;
		}
		.small--title {
			margin-bottom: 0;
			margin-top: 12px;
		}
	}
	.tab-link.current, .tab-link:hover{
		color: #222;
		.icons {
			background: $red;
			color: $white;
			@include media ('<tablet') {
				background: none;
			}
		}
	}
	.tab-content{
		display: none;
		padding: 15px 0;
		.small--title {
			margin-bottom: 25px;
			@include media ('<tablet') {
				margin-bottom: 0px;
			}
		}
	}
	.tab-content.current{
		display: inherit;
	}
}
.socialFooter {
	color: $black;
	.container {
		overflow: hidden;
	}
	.icons {
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		@extend .transition;
	}
	.tabs{
		margin: 0px 0px 40px;
		padding: 0px;
		list-style: none;
		width: 100%;
		text-align: center;
		position: relative;
		display: block;
		@include media ('<tablet') {
			margin: 0 0 0;
		}
		&.desktopView {
			border-bottom: 1px solid #ccc;;
		}
		.fa {
			font-size: 32px;
		}
	}
	.tab-link{
		display: inline-block;
		cursor: pointer;
		padding: 20px;
	}
	.tab-link.current, .tab-link:hover{
		color: #222;
		border-bottom: 1px solid $red;
		.icons {
			color: $red;
			@include media ('<tablet') {
				background: none;
			}
		}
	}
	.tab-content{
		display: none;
		padding: 15px 0;
	}
	.tab-content.current{
		display: inherit;
	}
}
.desktopView {
	@include media ('<tablet') {
		display: none !important;
	}
}
.mobileView {
	display: block !important;
	.tab-link {
		display: none;
		margin: 0 !important;
		border-bottom: 1px solid $red;
		@extend .text-left;
		@extend .transition;
		@include media ('<tablet') {
			display: block;
		}
		&:first-child {
			border-top: 1px solid $red;
		}
		.icons {
			display: inline-flex;
			vertical-align: middle;
			@include media ('<tablet') {
				width: 16%;
				vertical-align: top;
			}
		}
		.small--title {
			display: inline-block;
			@include media ('<tablet') {
				width: 80%;
			}
		}
		&:hover, &.current {
			background: $red;
			color: $white;
		}
	}
	&:after, &:before {
		display: none;
	}
}