$breakpoints: (
	'xs-phone': 400px,    /* Custom, iPhone Retina */ 
	'phone': 600px,   /* Extra Small Devices, Phones */ 
	'tablet': 768px,  /* Small Devices, Tablets */
	'md-tablet': 960px,
	'desktop': 1024px,
	//'extra-break' : 1090px,
	'widescreen': 1200px, //1280  //laptop    /* Large Devices, Wide Screens */
	'widescreen-1': 1450px, //1280  //set to > for larger screens
	'widescreen-2': 1650px
);

// variables
$arial: Arial, sans-serif;
$ico: 'icomoon';
$mueso: 'Museo Sans 500';
$mueso-l: 'Museo 100';

$black: #000;
$white: #ffffff;
$red: #dd0031;
$grey: #eeeeee;
$d-grey: #666666;
$dd-grey: #999999;

$upcase: uppercase;

// extra styles

// each pages style
@import "vendor/bootstrap/_mybootstrap";
@import "base/reset";
@import "vendor/include-media";
@import "vendor/slick";
@import "vendor/icomoon";

@import "base/typography";
@import "base/functions";
@import "base/helpers";
@import "base/global";

@import "layout/skeleton";
@import "layout/nav";
@import "layout/footer";
@import "layout/cms";

@import "modules/button";
@import "modules/banner";
@import "modules/form";
@import "modules/animation";
@import "modules/slider";
@import "modules/tabs";
@import "modules/accordion";
@import "modules/map";
@import "modules/fourBlocks";
@import "modules/customSelect";

@import "pages/home";
@import "pages/about";



