.column {
	@extend .clearfix;
}
table {
	@include media ('<=desktop') {
		width: 80%;
		margin: 0 auto;
	}
	@include media ('<=md-tablet') {
		width: 70%;
	}
	td {
		@include media ('<=desktop') {
			width: 33.33%;
			display: inline-block;
			margin-bottom: 20px;
		}
		@include media ('<=md-tablet') {
			width: 50%;
		}
		@include media ('<tablet') {
			width: 100%;
		}
	}
}
.theme {
	&__lightGrey {
		background: #f4f4f4;
	}
	&__grey {
		background: #eeeeee;
	}
	&__darkGrey {
		background: #333333;
		color: $white;
	}
	&__darkerGrey {
		background: #222222;
		color: $white;
	}
}
.spacing {
	&__large {
		padding: 70px 0;
		@include media ('<md-tablet') {
			padding: 35px 0;
		}
	}
	&__medium {
		padding: 30px 0;
		@include media ('<md-tablet') {
			padding: 25px 0;
		}
	}
	&__small {
		padding: 20px 0;
		@include media ('<md-tablet') {
			padding: 15px 0;
		}
	}
	&__x-small {
		padding: 10px 0;
	}
}
.imageQuote {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	&--quote {
		width: 36.72%;
		order: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			max-width: 360px;
			width: 90%;
			font-size: 30px;
			line-height: 42px;
			font-family: $mueso-l;
			letter-spacing: -0.045em;
		}
		@include media('<tablet') {
			width: 100%;
			order: 2;
			padding: 40px 0;
		}
	}
	&--image {
		width: 63.28%;
		order: 2;
		@include media('<tablet') {
			width: 100%;
			order: 1;
		}
	}
	&--reverse {
		.imageQuote {
			&--quote {
				order: 2;
			}
			&--image {
				order: 1;
			}
		}
	}
}
.intro {
	background-position: center;
	background-repeat: no-repeat;
	background-size: initial;
	margin: 0px 0;
	padding: 40px 0 100px;
	@include media ('<md-tablet') {
		margin: 40px 0;
		background-size: contain;
	}
}
.scroller {
	position: absolute;
	bottom: 14px;
	left: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	.animated {
		animation-duration: 5s;
	}
	@include media ('<=md-tablet') {
		bottom: -14px;
	}
	@include media ('<tablet') {
		bottom: -24px;
		display: none;
	}
}
.corner {
	position: absolute;
	right: 0;
	bottom: 0;
	@extend .transition;
}
.solutions {
	&--item {
		position: relative;
		overflow: hidden;
		&--first {
			position: absolute;
			left: 0;
			bottom: 0;
			color: $white;
			padding: 40px 50px;
			width: 100%;
			@include media ('<widescreen-1') {
				padding: 20px;
			}
		}
		&--overlay {
			background: $red;
			position: absolute;
			color: $white;
			height: 100%;
			top: 0;
			padding: 40px 50px;
			opacity: 0;
			@extend .transition;
			@include media ('<widescreen-1') {
				padding: 20px;
			}
			.btn {
				position: absolute;
				bottom: 50px;
				left: 40px;
				@include media ('<widescreen-1') {
					bottom: 20px;
					left: 20px;
				}
			}
			p {
				margin-top: 60px;
				@include media ('<widescreen-1') {
					margin-top: 20px;
				}
			}
		}
		.small--title {
			margin-bottom: 0;
		}
		&:hover {
			.solutions--item--overlay {
				opacity: 1;
				@include media ('<=desktop') {
					display: none;
				}
			}
			.corner {
				opacity: 0;
				@include media ('<=desktop') {
					opacity: 1;
				}
			}
		}
	}
}
.feedBlock {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.col {
		max-width: 284px;
		@include media ('<tablet') {
			max-width: inherit;
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
	.post-image {
		height: 160px;
		margin-bottom: 20px;
		background-size: cover;
	}
}
.history--slider {
	overflow: hidden;
}
// TEAM SECTION
.team {
	.col--2 {
		width: 50%;
		@include media ('<md-tablet') {
			width: 100%;
		}
		&:last-child {
			width: 42%;
			@include media ('<md-tablet') {
				width: 100%;
				margin-top: 40px;
			}
			@include media ('<tablet') {
				margin-top: 20px;
			}
		}
	}
	.main--title {
		margin-bottom: 26px;
	}
	&--holder {
		max-width: 460px;
		margin-bottom: 54px;
	}
	&--members {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		&--item {
			width: 27%;
			margin-right: 9.5%;
			padding: 20px 0 30px;
			border-top: 1px solid #ccc;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
			.small--title {
				margin-bottom: 3px;
			}
			a {
				color: $red;
				font-size: 16px;
				@extend .transition;
				&:hover {
					color: $black;
				}
			}
			@include media ('<tablet') {
				width: 45%;
				margin-right: 10%;
				&:nth-child(3n+3) {
					margin-right: 10%;
				}
				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}
	}
}
// SOCIAL SLIDER
.socialSlider {
	padding-top: 150px;
	.slick-dots {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0px;
		width: 100%;
		border-bottom: 1px solid #cccccc;
		@extend .text-center;
		li {
			display: inline-block;
			font-size: 32px;
			padding: 20px;
			cursor: pointer;
			border-bottom: 1px solid transparent;
			vertical-align: bottom;
			margin-bottom: -1px;
			&.slick-active {
				color: $red;
				border-bottom: 1px solid $red;
			}
		}
	}
}
.socialSwiper {
	padding-top: 120px;
	max-width: 860px;
	margin: 0 auto;
	.swiper-pagination {
		position: absolute;
		width: 100%;
		height: 55px;
		top: 0;
		border-bottom: 1px solid #ddd;
		.swiper-pagination-bullet {
			display: inline-block;
			width: auto;
			height: 55px;
			font-family: 'FontAwesome';
			background: none;
			border-radius: 0;
			opacity: 1;
			padding: 0 24px;
			&:after {
				color: $black;
				font-size: 32px;
			}
			&:nth-child(1) {
				&:after {
					content: '\f09e';
				}
			}
			&:nth-child(2) {
				&:after {
					content: '\f0e1';
				}
			}
			&:nth-child(3) {
				&:after {
					content: '\f09a';
				}
			}
			&-active {
				border-bottom: 1px solid $red;
				&:after {
					color: $red;
				}
			}
		}
	}
}
.animatingMap {
	@extend .text-center;
}
.news {
	.column {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		@include media ('<tablet') {
			width: 100%;
		}
	}
	.aside {
		width: 15%;
		margin-left: 5%;
		@extend .text-right;
		@include media ('<tablet') {
			width: 100%;
			margin: 0;
			margin-top: 20px;
		}
		ul {
			padding: 0;
			list-style: none;
			li {
				margin: 8px 0 10px;
				font-size: 16px;
				font-weight: 700;
				a {
					color: $black;
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
	&--item {
		width: 30%;
		margin-right: 5%;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $grey;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		@include media ('<=desktop') {
			width: 45%;
			margin-right: 10% !important;
			&:nth-child(2n+2) {
				margin-right: 0 !important;
			}
		}
		@include media ('<tablet') {
			width: 100%;
			margin: 0;
		}
		a {
			color: $black;
		}
		figure {
			margin-bottom: 15px;
			max-height: 260px;
			overflow: hidden;
			@include media('<tablet') {
				max-width: 380px;
				margin: 15px auto;
			}
			img {
				width: 100%;
			}
		}
		.date {
			font-size: 14px;
			color: $red;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}
	&-detail {
		figure {
			margin: 0px 0 20px;
		}
		.container {
			display: flex;
			flex-flow: row wrap;
		}
		.column {
			width: 80%;
			margin: 0 auto;
			@include media ('<tablet') {
				width: 100%;
			}
		}
		.aside {
			width: 15%;
			margin-left: 5%;
			@extend .text-right;
			@include media ('<tablet') {
				width: 100%;
				margin: 0;
				margin-top: 20px;
			}
			ul {
				padding: 0;
				list-style: none;
				li {
					margin: 8px 0 10px;
					font-size: 16px;
					font-weight: 700;
					a {
						color: $black;
						&:hover {
							color: $red;
						}
					}
				}
			}
		}
	}
	&--category {
		padding: 40px 0;
		margin-bottom: 40px;
		@extend .text-center;
		.select {
			width: 300px;
			margin-top: 20px;
			@extend .text-left;
		}
		.select-styled {
			border: none;
			border-bottom: 1px solid $black;
		}
		.select-options {
			background: #f4f4f4;
		}
	}
}
.backLink {
	width: 100%;
	padding: 20px 10px;
	margin-bottom: 20px;
	a {
		color: $black;
		font-weight: 700;
		font-size: 16px;
	}
}
.header-title {
	padding: 20px 0;
}
.wpcf7-not-valid-tip {
	display: none !important;
}
.wpcf7-not-valid {
	border-bottom: 1px solid $red !important;
}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok {
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: $mueso;
}
div.wpcf7-validation-errors {
	color: $red;
}



.home {
	@include media("<tablet"){
		.spacing__small {
			display: none;
		}
		
		.intro {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}