footer {
    padding: 0px 0 40px;
    @include media ('<tablet') {
        padding: 40px 0;
    }
}
.bigIcons {
    &--list {
        width: 33.33%;
        float: left;
        position: relative;
        color: $black;
        @extend .transition;
        @include media ('<tablet') {
            width: 100%;
            margin-bottom: 20px;
        }
        .icon {
            min-height: 90px;
            display: block;
            font-size: 87px;
            position: relative;
            margin-bottom: 40px;
            @include media ('<tablet') {
                margin-bottom: 5px;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &.icon-letter {
                font-size: 60px;
            }
            &.icon-book {
                font-size: 75px;
            }
        }
        &:hover {
            color: $red;
        }
    }
}

.footerIcons {
    &--icon {
        width: 60px;
        display: inline-block;
        filter: grayscale(1);
        @extend .transition;
        &:hover {
            filter: grayscale(0);
        }
    }
}

.footerTop {
    @extend .clearfix;
    margin: 110px 0 80px;
    @include media ('<tablet') {
        margin: 0;
    }
    &--col {
        float: left;
        width: 31.5%;
        @include media('<tablet') {
            width: 100%;
            text-align: center;
        }
    }
}

.footerMenu {
    &--link {
        font-family: $mueso;
        font-size: 14px;
        line-height: 26px;
        display: block;
        color: $black;
        @extend .transition;
        &__title {
            margin-bottom: 25px;
            &:hover {
                color: $black !important;
            }
        }
        &:hover {
            color: $red;
        }
    }
    &--1 {
        width: 32%;
    }
    &--2 {
        width: 25.5%;
        @include media ('<=desktop') {
            width: 19.5%;
        }
    }
}

.footerExtra {
    width: 11%;
    @include media ('<=desktop') {
        width: 17%;
    }
    @include media('<tablet') {
        width: 100%;
        margin-top: 40px;
    }
    &--social {
        margin-bottom: 35px;
        .fa {
            font-size: 30px;
            color: $black;
            margin-right: 20px;
            @extend .transition;
            &:hover {
                color: $red;
            }
            @include media('<=md-tablet') {
                margin-right: 10px;
            }
        }
    }
    &--credit {
        margin-top: 25px;
        a {
            font-family: $mueso;
            font-size: 14px;
            color: $black;
            @extend .transition;
            &:hover {
                color: $red;
            }
        }
    }
}