nav {
    background: $white;
    position: relative;
    @include media ('<tablet') {
        margin-bottom: 65px;
    }
}
.logo {
}

.main-menu {
    @include media ('<tablet') {
        display: none;
    }
}
.mainMenu {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    @extend .clearfix;
    padding: 18px 0 0px;
    list-style: none;
    &--holder {
        @extend .clearfix;
        padding: 0;
        list-style: none;
        margin-bottom: 0;
    }
    &--child {
        width: 33.33%;
        float: left;
        // position: relative;
        font-weight: 700;
        padding-bottom: 15px;
        border-bottom: 3px solid $red;
        font-size: 16px;
        &.active {
            border-bottom: 3px solid transparent;
            & > a {
                color: $red;
            }
        }
        &:hover {
            .mega--menu {
                display: block;
            }
        }
        a {
            color: $black;
            margin-bottom: 5px;
            display: block;
            @extend .transition;
            &:hover {
                color: $red;
            }
        }
        &:after {
            display: block;
            content: '';
            background: $grey;
            width: 1px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    &.scrolled {
        .mega--menu {
            display: none;
        }
    }
}
.submenu {
    list-style: none;
    padding: 0;
    &--item {
        font-size: 11px;
        font-weight: 400;
        a {
            color: $d-grey;
            margin-bottom: 0;
            @extend .transition;
            &:hover {
                color: $red;
            }
        }
    }
}
.secondaryMenu {
    position: absolute;
    right: 0;
    top: 30px;
    &--child {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        padding-right: 30px;
        &.active {
            a {
                color: $red;
            }
        }
        @include media ('<=md-tablet') {
            padding-right: 20px;
        }
    }
    &--item {
        color: $black;
        @extend .transition;
        &:hover {
            color: $red;
        }
    }
}
.stickyMenu {
    border-top: 5px solid $red;
    background: $white;
    position: fixed;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    z-index: 11;
    @extend .transition;
    &.sticky {
        transform: translateY(0);
        .stickyMenu--items {
            &:hover {
                .sticky--submenu {
                    display: none;
                    opacity: 1;
                    @include media ('<tablet') {
                        display: none;
                    }
                    &.no-hover {
                        opacity: 0;
                        display: none;
                    }
                }
            }
        }
    }
    &--holder {
        @include media ('<tablet') {
            text-align: left;
        }
    }
    &--logo {
        display: inline-block;
    }
    &--links {
        display: inline-block;
        @include media('<tablet') {
            display: block;
            position: absolute;
            background: $white;
            height: 0vh;
            width: 100%;
            overflow: hidden;
            transition: all linear 0.2s;
        }
        &.active {
            height: 100vh;
            overflow: scroll;
        }
    }
    &--items {
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;
        &--item {
            display: inline-block;
            padding-left: 50px;
            font-size: 16px;
            font-weight: 700;
            line-height: 56px;
            &.active {
                & > a {
                    color: $red;
                }
            }
            > a {
                color: $black;
                @extend .transition;
                &:hover {
                    color: $red;
                }
                @include media ('<tablet') {
                    display: block;
                    position: relative;
                    z-index: 11;
                    width: 60%;
                }
            }
            a {
                color: $black;
            }
            @include media ('<=md-tablet') {
                padding-left: 20px;
            }
        }
    }
    @include media ('<tablet') {
        transform: translateY(0);
        &--logo {
            margin-left: 15px;
        }
        &--items {
            width: 100%;
            &--item {
                width: 100%;
                line-height: 48px;
                border-top: 1px solid $red;
                position: relative;
                padding-left: 15px;
                &:last-child {
                    border-bottom: 1px solid $red;
                }
                &.with--child {
                    &:before, &:after {
                        content: '';
                        background: $red;
                        position: absolute;
                        right: 20px;
                        top: 25px;
                        transition: all linear 0.2s;
                    }
                    &:before {
                        height: 4px;
                        width: 20px;
                        margin-top: -2px;
                        right: 12px;
                    }
                    &:after {
                        height: 20px;
                        width: 4px;
                        margin-top: -10px;
                        opacity: 1;
                    }
                    &.minus {
                        &:after {
                            transform: rotate(90deg);
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
.sticky--submenu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
    background: $grey;
    width: 100%;
    font-size: 15px;
    line-height: 45px;
    margin-left: 0;
    font-weight: 400;
    &--items {
        padding: 0 15px;
        &:hover {
            background: $grey;
        }
    }
    &.active {
        display: block !important;
    }
    figure {
        padding: 20px 0;
    }
    a {
        &:hover {
            color: $black;
        }
    }
    .small--title {
        margin-bottom: 15px;
    }
    @include media('<tablet') {
        width: 100%;
        position: relative;
        margin-left: -7px;
        &--items {
            font-weight: 500;
        }
    }
}
.responsiveMenu {
    position: absolute;
    right: 20px;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
}
.hamburger-icon {
    position: relative;
    height: 4px;
    width: 32px;
    background: $red;
    @extend .transition;
    &:before, &:after {
        content: '';
        height: 4px;
        width: 32px;
        background: $red;
        position: absolute;
        left: 0;
        @extend .transition;
    }
    &:before {
        top: 10px;
    }
    &:after {
        top: 20px;
    }
    &.active {
        background: none;
        &:after, &:before {
            top: 10px;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
}

.mega--menu {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    background: $grey;
    top: 100%;
    z-index: 2;
    min-height: 400px;
    padding-bottom: 30px;
    @extend .text-left;
    font-weight: 400;
    a {
        &:hover {
            color: $black;
        }
    }
    .small--title {
        margin-bottom: 15px;
    }
    figure {
        padding: 20px 0;
    }
}