::-moz-selection { background: $red; color: $white; }
::selection { background: $red; color: $white; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dd-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dd-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dd-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dd-grey;
}
* {
  outline: none;
}
body {
  font-family: $mueso;
  color: $black;
}
.container {
    max-width: 1596px;
    width: 100%;
    margin: 0 auto;
    &__medium {
    	max-width: 1272px;
    }
    &__small {
      max-width: 834px;
    }
}
.col {
  float: left;
  width: 100%;
  @extend .clearfix;
  &--single {
    max-width: 485px;
    margin: 0 auto;
  }
  &--2 {
    width: 46%;
    margin-right: 8%;
    @include media ('<tablet') {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &--3 {
    width: 30%;
    margin-right: 5%;
    @include media ('<tablet') {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &--4 {
    width: 22%;
    margin-right: 4%;
    @include media ('<=md-tablet') {
      width: 47%;
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
    @include media ('<tablet') {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
.col--two-three {
  width: 50%;
  margin-right: 11%;
  float: left;
  @include media ('<=desktop') {
    margin-right: 5%;
    width: 56%;
  }
  @include media ('<=md-tablet') {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.col--two-one {
  width: 28%;
  margin-right: 11%;
  float: left;
  @include media ('<=widescreen-1') {
    width: 39%;
    margin-right: 0;
  }
  @include media ('<=md-tablet') {
    width: 100%;
    margin: 0;
  }
}
.hidden-xsmall {
  @include media('<tablet') {
    display: none;
  }
}
.visible-xsmall {
  display: none;
  @include media('<tablet') {
    display: block;
  }
}
.transition {
  transition: all linear 0.2s;
}
.text-center {
	text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
  @include media ('<tablet') {
    text-align: left;
  }
}
.text-justify {
  text-align: justify;
}